* {
    margin: 0;
    padding: 0
}

.clear:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.clear {
    zoom: 1;
}

em,
i {
    font-style: normal
}

li {
    list-style: none
}

img {
    border: 0;
    vertical-align: middle
}

button {
    cursor: pointer
}

a {
    color: #232321;
    text-decoration: none;
    outline: none
}

a:active,
a:focus {
    outline: none
}

button,
input {
    font-family: Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif
}

body {
    -webkit-font-smoothing: antialiased;
    /* background-color: #f6f6f6; */
    background: #fff;
    font: 12px/1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif;
    color: #232321;
    margin-top: 18px;
}

html {
    background: #f6f6f6;
}

#head {
    width: 100%;
    height: 100px;
    background-color: #232321;
}

.head_center {
    width: 1190px;
    height: 80px;
    margin: 0 auto;
    position: relative;
}

.head_center .icon_left {
    width: 300px;
    height: 38px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.head_center p {
    width: 42px;
    height: 38px;
    float: left;
}

.head_center p>img {
    width: 30px;
    height: 36px;
    float: left;
}

.head_center .login {
    float: left;
    padding-top: 9px;
}

.head_center .logo>img {
    padding-top: 5px;
}

.head_center .logo {
    width: 153px;
    height: 94px;
    position: absolute;
    left: 595px;
    top: 4px;
}

.head_center .icon_right {
    width: 115px;
    height: 38px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.head_center .icon_right p {
    width: 38px;
    height: 28px;
}

.head_center .icon_right .car_pic {
    display: block;
    width: 37px;
    height: 29px;
    float: right;
}

.head_center .icon_right .car_num {
    display: block;
    width: 20px;
    height: 20px;
    color: #000;
    text-align: center;
    line-height: 20px;
    position: absolute;
    right: 0;
    top: -2px;
    background: #fff;
    border-radius: 50%;
}

#footer {
    width: 100%;
    height: 803px;
    position: relative;
    overflow: hidden;
}

#footer_grid {
    width: 1190px;
    height: 210px;
    margin-top: 56px;
    overflow: hidden;
    margin: auto;
    left: 0;
    right: 0;
}

#footer_grid .grid_list {
    width: 1210px;
    height: 60px;
}

#footer_grid .grid_list li {
    float: left;
    width: 242px;
    height: 60px;
}

#footer_grid .grid_list li img {
    float: left;
}

#footer_grid .grid_list li div {
    width: 150px;
    height: 55px;
    float: left;
    margin-left: 25px;
}

#footer_grid .grid_list li div .grid_cn {
    margin-bottom: 12px;
    line-height: 20px;
    font-size: 20px;
    color: #232321;
}

#footer_grid .grid_list li div .grid_en {
    line-height: 12px;
    color: #999;
    font-family: toplifeHomeEn;
}

.footer_wrap {
    width: 100%;
    height: 711px;
    background-image: url(../images/footer_bg.png);
    position: relative;
}

#footer:after {
    content: "";
    display: block;
    clear: both;
}

.footer_center {
    width: 1190px;
    height: 711px;
    margin: 0 auto;
    z-index: 99;
    position: relative;
    overflow: hidden;
}

.footer_center:after {
    content: "";
    display: block;
    clear: both;
}

.footer_center .img_left {
    width: 316px;
    height: 175px;
    position: absolute;
    top: 242px;
    left: -28px;
    z-index: 999;
}

.footer_center .footer_warp1 {
    width: 1190px;
    height: 297px;
    position: absolute;
    top: 80px;
    background-color: rgba(255, 255, 255, 0.8);
}

.footer_center .img_right {
    width: 98px;
    height: 197PX;
    position: absolute;
    top: 46px;
    right: -24px;
}

.footer_center .footer_warp1 .wb {
    padding: 50px 88px 0 470px;
    float: left;
}

.footer_center .footer_warp1 .wx {
    padding-top: 50px;
    float: left;
}

.footer_center .footer_cn {
    width: 100%px;
    height: 24px;
    font-size: 16px;
    font-weight: 700;
    color: #232321;
    text-align: center;
    margin-bottom: 16px;
    margin-top: 210px;
}

.footer_center .footer_en {
    width: 100%;
    height: 18px;
    color: #999;
    font-family: toplifeHomeEn;
    text-align: center;
}

.footer_center .explain {
    width: 729px;
    height: 153px;
    position: absolute;
    top: 437px;
    left: 230.500px;
    /* background: cadetblue; */
}

.footer_center .explain>div {
    float: left;
}

.footer_center .explain h3 {
    margin-top: 15px;
    margin-bottom: 28px;
}

.footer_center .explain ul li a {
    font-size: 12px;
    line-height: 22px;
    color: #999;
}

.footer_center .explain .ex_center {
    width: 88px;
    height: 129px;
    padding-left: 260px;
    padding-right: 250px;
}

#ft_bottom {
    width: 100%;
    height: 92px;
}

.ft_bottom_center {
    width: 1190px;
    height: 92px;
    margin: 0 auto;
}

.ft_bottom_center .ft_logo {
    width: 100px;
    height: 61px;
    position: absolute;
    left: 50%;
    margin-top: 15px;
    margin-left: -50px;
}

.ft_bottom_center .ft_logo img {
    width: 100px;
    height: 61px;
    background: palegreen;
}

.ft_bottom_center .copyRight {
    width: 400px;
    float: right;
    margin-top: 38px;
}

.ft_bottom_center .copyRight span,
a {
    display: inline-block;
    line-height: 20px;
    color: #999;
}

#nav {
    background: #232321;
    border-bottom: 1px solid #d2d2d2;
    z-index: 99;
    width: 100%;
    min-width: 1190px;
    /* background-color: #232321; */
    position: relative;
    z-index: 100;
    height: 60px;
}

.navlist {
    width: 1190px;
    height: 60px;
    margin-left: 50px;
}

.navlist>ul {
    width: 1080px;
    margin: 0 auto;
    float: left;
    padding-top: 20px;
    padding-left: 100px;
}

.navlist>ul:after {
    content: "";
    display: block;
    clear: both;
}

.navlist>ul>li {
    width: 140px;
    height: 30px;
    line-height: 30px;
    float: left;
    box-sizing: border-box;
    text-align: center;
}

.navlist>ul>li>span {
    font-size: 16px;
    line-height: 30px;
    width: 140px;
    height: 30px;
    text-align: center;
    color: #999;
}

.navlist>ul>li i {
    width: 40px;
    height: 60px;
}

.navlist ul>li>ul {
    width: 100%;
    border: 1px solid #ddd;
    background: #fff;
    border-top: none;
    box-sizing: border-box;
    display: none;
    margin-top: -50px;
    z-index: 99;
    border-bottom: 2px solid rgb(185, 144, 8);
}

.navlist ul>li>ul>li>a {
    width: 140px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: black;
}

.navlist ul>li>ul>li>p {
    width: 140PX;
    height: 60PX;
    font-size: 24px;
    line-height: 60px;
    color: rgb(185, 144, 8);
}

.navlist ul>li>.list_five {
    background: none;
    border-right: none;
    border-left: none;
    margin-top: -55px;
}

#detailMain {
    width: 100%;
    height: 1624px;
    background: #f6f6f6;
}

.detailMain_center {
    width: 1190px;
    height: 1624px;
    margin: 0 auto;
    position: relative;
}

.detailMain_center .detail_title {
    width: 100%;
    height: 54px;
}

.detailMain_center .detail_title p {
    width: 1200px;
    height: 18px;
    font-size: 12px;
    padding-top: 18px;
}

.detailMain_center .detail_intro {
    width: 770px;
    height: 1570px;
    float: left;
    background: #fff;
}

.detailMain_center .detail_intro .detail_inner {
    width: 710px;
    height: 1510px;
    margin: 30px;
}

.detailMain_center .detail_intro .detail_inner .img_show {
    width: 710px;
    height: 610px;
    margin-bottom: 30px;
    background: #fff;
}

.detailMain_center .detail_intro .detail_inner .img_show .small_show {
    width: 610px;
    height: 610px;
    float: left;
    position: relative;
}

.detailMain_center .detail_intro .detail_inner .img_show .small_show ul {
    position: absolute;
    width: 610px;
    height: 610px;
}

.detailMain_center .detail_intro .detail_inner .img_show .small_show ul li {
    width: 610px;
    height: 610px;
    position: absolute;
    overflow: hidden;
}

.detailMain_center .detail_intro .detail_inner .img_show .small_show ul li img {
    width: 610px;
    height: 610px;
}

.detailMain_center .detail_intro .detail_inner .img_show .small_show img {
    width: 610px;
    height: 610px;
    float: left;
}

.detailMain_center .detail_intro .detail_inner .img_show .small_show .wrap {
    width: 610px;
    height: 610px;
    position: absolute;
    z-index: 999;
}

.detailMain_center .detail_intro .detail_inner .img_show .small_show .grayBox {
    display: none;
    width: 275px;
    height: 275px;
    background-image: url(../pictures/kh1.jpg);
    background-size: 610px 610px;
    background-position: 0 0;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
}

.detailMain_center .detail_intro .detail_inner .img_show .slide_pic {
    width: 96px;
    height: 520px;
    margin-top: 60px;
    float: right;
}

.detailMain_center .detail_intro .detail_inner .img_show .slide_pic>div {
    width: 96px;
    height: 96px;
    background: #999;
    margin-bottom: 7px;
}


/* .detailMain_center .detail_intro .detail_inner .img_show .slide_pic>div:hover {
    border: 1px solid #000;
} */

.detailMain_center .detail_intro .detail_inner .img_show .slide_pic>div>img {
    width: 96px;
    height: 96px;
}

.detailMain_center .detail_intro .detail_inner .tab_head {
    width: 710px;
    height: 40px;
}

.detailMain_center .detail_intro .detail_inner .tab_head p {
    width: 355px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    color: #fff;
    background: #999;
    float: left;
}

.detailMain_center .detail_intro .detail_inner .tab_head p:hover {
    background: #000;
}

.detailMain_center .detail_intro .detail_inner .img_intro {
    width: 710px;
    height: 810px;
    margin-top: 20px;
}

.detailMain_center .detail_intro .detail_inner .big_show {
    width: 505px;
    height: 505px;
    border: 1px solid #000;
    position: absolute;
    left: 676px;
    top: 85px;
    overflow: hidden;
    display: none;
}

.detailMain_center .detail_intro .detail_inner .big_show img {
    position: absolute;
}

.detailMain_center .introduce {
    width: 400px;
    height: 638px;
    float: right;
}

.detailMain_center .introduce h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
}

.detailMain_center .introduce h1 .brandName {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}

.detailMain_center .introduce h1 .pName {
    font-size: 16px;
    margin-bottom: 42px;
    font-weight: 400;
}

.detailMain_center .introduce .brand_price {
    font-size: 36px;
    color: #c70000;
    margin-bottom: 26px;
    font-family: toplifeCustomEn, Arial;
}

.detailMain_center .introduce .peisong {
    padding: 20px 0;
    border-bottom: 1px solid #dfdfde;
    font-size: 14px;
}

.detailMain_center .introduce span {
    color: #999;
    float: left;
}

.detailMain_center .introduce p {
    margin-left: 73px;
    line-height: 20px;
}

.detailMain_center .introduce .leixing {
    width: 390px;
    height: 45px;
    padding: 20px 0;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}

.detailMain_center .introduce .num {
    width: 390px;
    height: 183px;
    padding: 20px 0;
}

.detailMain_center .introduce .num input {
    width: 60px;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    padding: 0;
    border: none;
    text-align: center;
    background-color: #ececec;
    outline: 0;
}

.detailMain_center .introduce .num .btn1 {
    width: 28px;
    height: 28px;
    line-height: 28px;
    font-size: 20px;
    color: #000;
    user-select: none;
    margin-top: -2px;
    border: none;
}

.detailMain_center .introduce .num .car_btn {
    background-color: #232321;
    color: #fff;
    display: inline-block;
    width: 390px;
    height: 50px;
    margin-top: 68px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    font-weight: 700;
    border: 0;
    outline: 0;
    margin-left: -70px;
}

#recommend {
    width: 100%;
    height: 645px;
    position: relative;
    background: #f6f6f6;
}

#recommend .recommend_center {
    width: 1190px;
    height: 645px;
    margin: 0 auto;
    padding-top: 50px;
}

#recommend .recommend_center header {
    margin-bottom: 16px;
}

#recommend .recommend_center header h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 6px;
}

#recommend .recommend_center header .recommend_subtit {
    color: #999;
    letter-spacing: 14px;
    font-family: Regular, Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif;
}

#recommend .recommend_center .clearfix {
    width: 1190px;
    height: 416px;
}

#recommend .recommend_center .clearfix .recommend_list {
    width: 220px;
    height: 416px;
    margin-right: 18px;
    background: #fff;
    float: left;
}

#recommend .recommend_center .clearfix .recommend_list img {
    width: 220px;
    height: 280px;
}

#recommend .recommend_center .clearfix .recommend_list .recommend_brand {
    margin-top: 7px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

#recommend .recommend_center .clearfix .recommend_list .recommend_name {
    height: 42px;
    font-size: 14px;
    line-height: 1.5;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: center;
}

#recommend .recommend_center .clearfix .recommend_list .recommend_price {
    margin-top: 10px;
    color: #232321;
    text-align: center;
    font-size: 18px;
}